* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.header{
  display: flex;
  padding: 30px 30px;
  justify-content: space-around;
}

.header h1 {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(49, 49, 49);
}

.header h1 p{
  font-size: 20px;
}

.nav{
  display: flex;
  align-items: end;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-top: 10px;
  list-style: none;

}

.nav ul li {
  font-size: 24px;
}

.nav-button{
  text-decoration: none;
  color: rgb(70, 70, 70);
  letter-spacing: 2px;
  
}

.nav-button:hover{
  border-bottom: solid 3px black;
  transition: 0.2s
  
}

.profile{
  display: flex;
  justify-content: center;
  width: 10%;
}

.profile-image{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: solid 2px rgb(255, 255, 255);
  
}

.profile-image:hover{
  border: none;
  opacity: 950%;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 190px;
  /* background-color: rgb(22, 29, 46); */
}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact{
  letter-spacing: 5px;
}

.fa-brands{
  font-size: 30px;
  color: rgb(70, 70, 70);
}

/* .fa-twitter{
  color: rgb(122, 168, 255);
}

.fa-square-facebook{
  color: blue;
}

.fa-youtube{
  color: red;
} */

.follow-heading{
  color: rgb(70, 70, 70);
  letter-spacing: 1px;
}

.nav-footer{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-button{
  border-bottom: solid 3px white;
}

